
<label for="input" class="form-label">Input String</label>
<div class="input-group mb-3">
    <CacheList DataSource="@CacheService.GetCachedData(InputStringCache)" OnSelect="(input)=>RequestModel.Input = input" />
    <textarea class="form-control" id="input" @bind="@RequestModel.Input" required></textarea>
</div>

<label for="pattern" class="form-label">RegEx Pattern</label>
<div class="input-group mb-3">
    <CacheList DataSource="@CacheService.GetCachedData(PatternStringCache)" OnSelect="(input)=>RequestModel.Pattern = input" />
    <input type="text" class="form-control" id="pattern" @bind-value="@RequestModel.Pattern" autocomplete="off" required>
</div>


@code
{
    [Parameter] public IInputPatternModel RequestModel { get; set; } = null!;

    [Parameter] public CacheService CacheService { get; set; } = null!;

    [Parameter] public string InputStringCache { get; set; } = "";

    [Parameter] public string PatternStringCache { get; set; } = "";

    public void StoreCurrentDateInCache()
    {
        CacheService.StoreDataInCache(InputStringCache, RequestModel.Input);
        CacheService.StoreDataInCache(PatternStringCache, RequestModel.Pattern);
    }
}
