@using System.Reflection;
@inherits LayoutComponentBase

<main>
    <nav class="navbar navbar-expand border-bottom border-light-subtle" style="background-color:transparent">
        <div class="container-fluid">
        <a class="navbar-brand" href="/">{ AsanRegEx }</a>
            <ul class="navbar-nav ms-auto">
                <li class="nav-link active">
                    <Icon Name="IconName.InfoCircle" Size="IconSize.x2" Style="cursor:pointer" @onclick="@(async ()=> await (aboutModal?.ShowAsync() ?? Task.CompletedTask))"></Icon>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" target="_blank" href="@GITHUB_ADDRESS">
                        <Icon Name="IconName.Github" Size="IconSize.x2"></Icon>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-3">
        @Body
    </div>
</main>

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

<Modal @ref="@aboutModal" Size="ModalSize.Large" Title="AsanRegEx  (1.0.0)">
    <BodyTemplate>
        AsanRegEx is a Regex previewer tool for .NET that aims to provide developers with a user-friendly interface to work with regular expressions. 
        <br />
        The tool is published under <a href="https://github.com/FarzanHajian/AsanRegEx/blob/master/LICENSE.md" target="_blank">BSD 3-Clause</a> License.
        You can visit the <a href="@GITHUB_ADDRESS" target="_blank">Github page</a> for more information.
        <br /><br />
        Background image by <a href="https://pixabay.com/users/pexels-2286921/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1846980" target="_blank">Pexels</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1846980" target="_blank">Pixabay</a>
        <br />
        Kollektif font by <a href="http://bnftype.com" target="_blank">Brave New Fonts</a>
        <br />
        Loading animation by <a href="https://codepen.io/ClaireLarsen/pen/XmVyVX/" target="_blank">https://codepen.io/ClaireLarsen/pen/XmVyVX/</a>
    </BodyTemplate>
</Modal>

@code
{
    private const string GITHUB_ADDRESS = "https://github.com/FarzanHajian/AsanRegEx";
    private Modal? aboutModal;
}       