@inherits LayoutComponentBase

<main>
    <nav class="navbar navbar-expand border-bottom border-light-subtle" style="background-color:transparent">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Asan RegEx</a>
            <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="https://github.com/FarzanHajian/AsanRegEx">Github</a>
            </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-3">
        @Body
    </div>
</main>

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />