<div class="col-6 col-md-4">
    <Switch Value="@Checked" Label="@Title" ValueExpression="@(()=>Checked)" ValueChanged="@OnValueChanged" />
</div>

@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public bool Checked { get; set; }
    [Parameter] public EventCallback<bool> CheckedChanged { get; set; }

    private async void OnValueChanged(bool value)
    {
        Checked = value;
        await CheckedChanged.InvokeAsync(value);
    }
}
